<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artykuły</title>
</head>
<body>
<h1>Lista artykułów</h1>
<ul id="articles-list"></ul>
<script src="/js/articles.js"></script>
</body>
</html>
