{% extends 'security/auth_base.html.twig' %}

{% block title %}Register - Wiedmolol{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" class="register-form">
            {% for message in app.flashes('error') %}
                <p class="error-message">{{ message }}</p>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <p class="success-message">{{ message }}</p>
            {% endfor %}

            <input type="email" id="email" name="email" placeholder="E-mail" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="password" id="confirmedPassword" name="confirmedPassword" placeholder="Confirm Password" required>

            <button type="submit" name="logIn">Sign Up</button>
        </form>
    </div>

    <div class="signup-bar">
        <p>Already have an account?</p>
        <a href="{{ path('app_login') }}">
            <button name="signUp">Log In</button>
        </a>
    </div>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
